.newview__tecnology {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  @media screen and (max-width: 990px) {
    flex-direction: column;
  }
  .newview__tecnology-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
    @media screen and (max-width: 990px) {
      margin: 0 0 2rem 0;
    }
    h1 {
      font-size: 34px;
      line-height: 45px;
      font-weight: 800;
      font-family: var(--font-family);
      @media screen and (max-width: 550px) {
        font-size: 28px;
        line-height: 38px;
      }
    }
    p {
      color: var(--color-subtext);
      font-size: 16px;
      line-height: 30px;
      font-weight: 500;
      font-family: var(--font-family);
      margin-top: 2rem;
      text-decoration: underline;
      @media screen and (max-width: 550px) {
        font-size: 12px;
        line-height: 24px;
      }
    }
  }
  .newview__tecnology-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}
