.newview__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
  @media screen and (max-width: 650px) {
    flex-direction: column;
  }
  @media screen and (max-width: 550px) {
    flex-direction: column;
    margin: 4rem 2rem;
  }
  .newview__cta-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    p {
      color: var(--color-bg);
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 30px;
      font-weight: 500;
    }
    h3 {
      color: var(--color-bg);
      font-family: var(--font-family);
      font-size: 24px;
      line-height: 45px;
      font-weight: 800;
      @media screen and (max-width: 550px) {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  .newview__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    @media screen and (max-width: 650px) {
      margin: 2rem 0 0;
    }
    button {
      background: var(--color-bg);
      color: #fff;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: none;
      outline: none;
      cursor: pointer;
      min-width: 150px;
      transition: 0.3s;
      &:hover {
        background: var(--color-blog);
      }
      @media screen and (max-width: 550px) {
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}
