// NAVBAR

.newview__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  // TABLET MEDIA QUERIES
  @media screen and (max-width: 700px) {
    padding: 2rem 4rem;
  }
  // MOBILE MEDIA QUERIES
  @media screen and (max-width: 550px) {
    padding: 2rem;
  }

  // ALL PARAGRAPHS IN THE NAVBAR

  p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
      color: #8bbeb4;
    }
  }

  // ALL BUTTONS IN THE NAVBAR

  button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #218c74;
    font-family: var(--font-family);
    white-space: nowrap;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #218c75ce;
    }
  }

  // NAVBAR LOGO AND LINKS

  .newview__navbar-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;

    // NAVBAR LOGO

    .newview__navbar-links_logo {
      margin-right: 2rem;
      img {
        width: 100px;
        height: 50px;
      }
    }

    // NAVBAR LINK LIST

    .newview__navbar-links_container {
      display: flex;
      // LAPTOP MEDIA QUERIES
      @media screen and (max-width: 1050px) {
        display: none;
      }
    }
  }

  // NAVBAR SIGN BUTTONS

  .newview__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // MOBILE MEDIA QUERIES
    @media screen and (max-width: 550px) {
      display: none;
    }
  }

  // NAVBAR MOBILE MENU

  .newview__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
    // LAPTOP MEDIA QUERIES
    @media screen and (max-width: 1050px) {
      display: flex;
    }
    svg {
      cursor: pointer;
    }

    // NAVBAR MOBILE MENU LINK LIST

    .newview__navbar-menu_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: var(--color-footer);
      padding: 2rem;
      position: absolute;
      right: 0;
      top: 40px;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      // MOBILE MEDIA QUERIES
      @media screen and (max-width: 550px) {
        top: 20px;
      }
      p {
        margin: 1rem 0;
      }
      hr {
        display: none;
        width: 100%;
        height: 2px;
        background-color: #00000017;
        border: none;
        //MOBILE MEDIA QUERIES
        @media screen and (max-width: 550px) {
          display: block;
        }
      }
    }

    // NAVBAR MOBILE MENU SIGN BUTTONS

    .newview__navbar-menu_container-links-sign {
      display: none;
      // MOBILE MEDIA QUERIES
      @media screen and (max-width: 550px) {
        display: block;
      }
    }
  }
}
