@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(
    89.97deg,
    rgba(204, 142, 53, 1) 1.84%,
    rgba(33, 140, 116, 1) 102.67%
  );
  --gradient-bar: linear-gradient(
    64deg,
    rgba(204, 142, 53, 1) 0%,
    rgba(33, 140, 116, 1) 100%
  );

  --color-bg: #051410;
  --color-text: #33d9b2;
  --color-footer: #081f18;
  --color-blog: #104639;
  --color-subtext: #cc8e35;
  --color-subtext-hover: #a7732b;
}
