.newview__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
  .newview__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    h1 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 64px;
      line-height: 75px;
      @media screen and (max-width: 850px) {
        font-size: 44px;
        line-height: 50px;
      }
      @media screen and (max-width: 550px) {
        font-size: 34px;
        line-height: 42px;
      }
      @media screen and (max-width: 400px) {
        font-size: 27px;
        line-height: 38px;
      }
    }
  }
  .newview__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 7rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
    p {
      font-size: 18px;
      font-family: var(--font-family);
      line-height: 21px;
      color: #fff;
      word-spacing: 2px;
      @media screen and (max-width: 550px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .newview__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    @media screen and (max-width: 755px) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    div {
      width: 250px;
      margin: 1rem;
      @media screen and (max-width: 550px) {
        margin: 1rem 0;
      }
      &:last-child {
        p {
          cursor: text;
          &:hover {
            color: #fff;
          }
        }
      }
    }
    .newview__footer-links_logo {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 755px) {
        align-items: center;
      }
      img {
        width: 118px;
        height: 30px;
        margin-bottom: 1rem;
      }
      p {
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 15px;
        color: #fff;
      }
    }
    .newview__footer-links_div {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      h4 {
        font-size: 14px;
        line-height: 17px;
        font-family: var(--font-family);
        color: #fff;
        margin-bottom: 0.9rem;
      }
      hr {
        width: 25%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        @media screen and (max-width: 755px) {
          align-self: center;
        }
      }
      p {
        font-size: 12px;
        line-height: 15px;
        font-family: var(--font-family);
        color: #fff;
        margin: 0.5rem 0;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          color: #d1d1d1;
        }
      }
    }
  }
  .newview__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    p {
      font-size: 12px;
      font-family: var(--font-family);
      line-height: 15px;
      color: #a7a7a7;
    }
  }
}
