.newview__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}
.newview__footer .newview__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.newview__footer .newview__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 64px;
  line-height: 75px;
}
@media screen and (max-width: 850px) {
  .newview__footer .newview__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}
@media screen and (max-width: 550px) {
  .newview__footer .newview__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }
}
@media screen and (max-width: 400px) {
  .newview__footer .newview__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}
.newview__footer .newview__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid #fff;
  text-align: center;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: 0.3s;
}
.newview__footer .newview__footer-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.newview__footer .newview__footer-btn p {
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}
@media screen and (max-width: 550px) {
  .newview__footer .newview__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}
.newview__footer .newview__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 755px) {
  .newview__footer .newview__footer-links {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.newview__footer .newview__footer-links div {
  width: 250px;
  margin: 1rem;
}
@media screen and (max-width: 550px) {
  .newview__footer .newview__footer-links div {
    margin: 1rem 0;
  }
}
.newview__footer .newview__footer-links .newview__footer-links_logo {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 755px) {
  .newview__footer .newview__footer-links .newview__footer-links_logo {
    align-items: center;
  }
}
.newview__footer .newview__footer-links .newview__footer-links_logo img {
  width: 118px;
  height: 30px;
  margin-bottom: 1rem;
}
.newview__footer .newview__footer-links .newview__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}
.newview__footer .newview__footer-links .newview__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.newview__footer .newview__footer-links .newview__footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  color: #fff;
  margin-bottom: 0.9rem;
}
.newview__footer .newview__footer-links .newview__footer-links_div hr {
  width: 25%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
@media screen and (max-width: 755px) {
  .newview__footer .newview__footer-links .newview__footer-links_div hr {
    align-self: center;
  }
}
.newview__footer .newview__footer-links .newview__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  color: #fff;
  margin: 0.5rem 0;
  cursor: pointer;
}
.newview__footer .newview__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}
.newview__footer .newview__footer-copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #a7a7a7;
}/*# sourceMappingURL=footer.css.map */